MapFile(
    map:
"100001
100001
100001
112211
100001
111111",

    key: [
        "rust.png",
        "guy.png"
    ],

    connections: (
        up: (
            map: "test/adjacent_all.ron",
            offset: (-7, 0)
        )
    ),

    cell_size: 1.0,
    player_spawn: (1, 1),
    floor: (122, 13, 39),
    //ceiling: (191, 187, 181)
    ceiling: (122, 13, 39),
    shade_ceiling: true,
    shade_multi: 1.0,
    shade_walls: true
)